/meuPrimeiroProjetoComNetbeans/nbproject/private/
/meuPrimeiroProjetoComNetbeans/build/
/pratrica02/Netbeans/meuSegundoProjetoJava/nbproject/private/
/pratrica02/Netbeans/meuSegundoProjetoJava/build/
/pratica02/Netbeans/meuSegundoProjetoJava/build/
/pratica02/Netbeans/meuSegundoProjetoJava/nbproject/private/